<%-include("partials/head")  %>
<link rel="stylesheet" href="/css/styles.body.product.css" />
</head>
<body>

    <%-include("partials/header")%>


<section class="section-wrapper">
    <div class="product-container">

        <%-include("partials/product-path.ejs") %>

        <%-include("partials/product-details.ejs") %>

        <%-include("partials/product-description.ejs") %>

        <%-include("partials/product-comments.ejs") %>

        <%-include("partials/product-populars.ejs") %>

      <section class="tptnprods">
        <div class="popular-products-title flex">
          <h4>Otros Productos</h4>
          <div class="popular-products-links">
            <a class="flex" href="#">
              <p>Mostrar todos</p>
              <img src="./img/siguiente-boton.png" alt="" width="16px"
            /></a>
          </div>
        </div>
        <div class="popular-products">
          <div class="popular-products-container">
            <div class="popular-products-list">
              <div class="popular-products-product elec1">
                <article class="article-product">
                  <div class="thumbnail-container-product">
                    <div class="thumbnail-top-product">
                      <a href="#">
                        <picture>
                          <img
                            src="./img/double-door-smart-refrigerator.jpg"
                            alt=""
                        /></picture>
                        <button class="wishlist-button-add flex">
                          <img
                            src="./img/corazon-strong.png"
                            alt=""
                            width="16px"
                          />
                        </button>
                      </a>
                      <ul class="product-flags">
                        <!-- <li class="product-flag discount">-$10.00</li> -->
                        <li class="product-flag new">New</li>
                      </ul>
                    </div>
                    <div class="product-description-populars">
                      <h3>
                        <a href="#">Heladera Doble Puerta</a>
                      </h3>
                      <div class="product-price">
                        <!-- <span class="regular-price"> $750.00 </span> -->
                        <span class="price"> $1240.00 </span>
                      </div>
                      <div class="product-review">
                        <div class="grade-stars stars-responsive flex2">
                          <img
                            src="./img/estrella-dorada-16.png"
                            alt=""
                            width="20px"
                          />
                          <img
                            src="./img/estrella-dorada-16.png"
                            alt=""
                            width="20px"
                          />
                          <img
                            src="./img/estrella-dorada-16.png"
                            alt=""
                            width="20px"
                          />
                          <img
                            src="./img/estrella-dorada-16.png"
                            alt=""
                            width="20px"
                          />
                          <img
                            src="./img/estrella-dorada-16.png"
                            alt=""
                            width="20px"
                          />
                          <div class="comments-nb">(1)</div>
                        </div>
                      </div>
                    </div>
                    <div class="cart-hidden-container-popular">
                      <a href="#"
                        ><img
                          class="icono-cart-popular"
                          src="./img/compras-Rojo.png"
                          alt=""
                      /></a>
                    </div>
                  </div>
                </article>
              </div>
              <div class="popular-products-product elec2">
                <article class="article-product">
                  <div class="thumbnail-container-product">
                    <div class="thumbnail-top-product">
                      <a href="#">
                        <picture>
                          <img
                            src="./img/galaxy-android-smartphone.jpg"
                            alt=""
                        /></picture>
                        <button class="wishlist-button-add flex">
                          <img
                            src="./img/corazon-strong.png"
                            alt=""
                            width="16px"
                          />
                        </button>
                      </a>
                      <ul class="product-flags">
                        <li class="product-flag discount">-$50.00</li>
                        <li class="product-flag new">New</li>
                      </ul>
                    </div>
                    <div class="product-description-populars">
                      <h3>
                        <a href="#">Celular Samsung Galaxy</a>
                      </h3>
                      <div class="product-price">
                        <span class="regular-price"> $600.00 </span>
                        <span class="price"> $550.00 </span>
                      </div>
                      <div class="product-review">
                        <div class="grade-stars stars-responsive flex2">
                          <img
                            src="./img/estrella-dorada-16.png"
                            alt=""
                            width="20px"
                          />
                          <img
                            src="./img/estrella-dorada-16.png"
                            alt=""
                            width="20px"
                          />
                          <img
                            src="./img/estrella-dorada-16.png"
                            alt=""
                            width="20px"
                          />
                          <img
                            src="./img/estrella-dorada-16.png"
                            alt=""
                            width="20px"
                          />
                          <img
                            src="./img/estrella-dorada-16.png"
                            alt=""
                            width="20px"
                          />
                          <div class="comments-nb">(4)</div>
                        </div>
                      </div>
                    </div>
                    <div class="cart-hidden-container-popular">
                      <a href="#"
                        ><img
                          class="icono-cart-popular"
                          src="./img/compras-Rojo.png"
                          alt=""
                      /></a>
                    </div>
                  </div>
                </article>
              </div>
              <div class="popular-products-product elec3">
                <article class="article-product">
                  <div class="thumbnail-container-product">
                    <div class="thumbnail-top-product">
                      <a href="#">
                        <picture>
                          <img
                            src="./img/webster-bluetooth-speakers.jpg"
                            alt=""
                        /></picture>
                        <button class="wishlist-button-add flex">
                          <img
                            src="./img/corazon-strong.png"
                            alt=""
                            width="16px"
                          />
                        </button>
                      </a>
                      <ul class="product-flags">
                        <li class="product-flag discount">-15%</li>
                        <li class="product-flag new">New</li>
                      </ul>
                    </div>
                    <div class="product-description-populars">
                      <h3>
                        <a href="#">Webster Parlante Bluetooth</a>
                      </h3>
                      <div class="product-price">
                        <span class="regular-price"> $100.00 </span>
                        <span class="price"> $85.00 </span>
                      </div>
                      <div class="product-review">
                        <div class="grade-stars stars-responsive flex2">
                          <img
                            src="./img/estrella-dorada-16.png"
                            alt=""
                            width="20px"
                          />
                          <img
                            src="./img/estrella-dorada-16.png"
                            alt=""
                            width="20px"
                          />
                          <img
                            src="./img/estrella-dorada-16.png"
                            alt=""
                            width="20px"
                          />
                          <img
                            src="./img/estrella-dorada-16.png"
                            alt=""
                            width="20px"
                          />
                          <img
                            src="./img/estrella-dorada-16.png"
                            alt=""
                            width="20px"
                          />
                          <div class="comments-nb">(1)</div>
                        </div>
                      </div>
                    </div>
                    <div class="cart-hidden-container-popular">
                      <a href="#"
                        ><img
                          class="icono-cart-popular"
                          src="./img/compras-Rojo.png"
                          alt=""
                      /></a>
                    </div>
                  </div>
                </article>
              </div>
              <div class="popular-products-product elec4">
                <article class="article-product">
                  <div class="thumbnail-container-product">
                    <div class="thumbnail-top-product">
                      <a href="#">
                        <picture>
                          <img
                            src="./img/convection-micro-wave-owen.jpg"
                            alt=""
                        /></picture>
                        <button class="wishlist-button-add flex">
                          <img
                            src="./img/corazon-strong.png"
                            alt=""
                            width="16px"
                          />
                        </button>
                      </a>
                      <ul class="product-flags">
                        <li class="product-flag discount">-$20.00</li>
                        <li class="product-flag new">New</li>
                      </ul>
                    </div>
                    <div class="product-description-populars">
                      <h3>
                        <a href="#">Microndas con Conveccion</a>
                      </h3>
                      <div class="product-price">
                        <span class="regular-price"> $200.00 </span>
                        <span class="price"> $180.00 </span>
                      </div>
                      <div class="product-review">
                        <div class="grade-stars stars-responsive flex2">
                          <img
                            src="./img/estrella-dorada-16.png"
                            alt=""
                            width="20px"
                          />
                          <img
                            src="./img/estrella-dorada-16.png"
                            alt=""
                            width="20px"
                          />
                          <img
                            src="./img/estrella-dorada-16.png"
                            alt=""
                            width="20px"
                          />
                          <img
                            src="./img/estrella-blanca-16.png"
                            alt=""
                            width="20px"
                          />
                          <img
                            src="./img/estrella-blanca-16.png"
                            alt=""
                            width="20px"
                          />
                          <div class="comments-nb">(7)</div>
                        </div>
                      </div>
                    </div>
                    <div class="cart-hidden-container-popular">
                      <a href="#"
                        ><img
                          class="icono-cart-popular"
                          src="./img/compras-Rojo.png"
                          alt=""
                      /></a>
                    </div>
                  </div>
                </article>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
</section>







<script src="../functions/funtions.js"></script>

    <%-include("partials/footer")%>